@import url("https://fonts.googleapis.com/css2?family=Trispace&display=swap");


.container {
  /*  background-color: greenyellow;  */
  align-self: center;
}
#subway-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
}
body {
   background-image: url('https://images.unsplash.com/photo-1520531158340-44015069e78e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1138&q=80');
    background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  font-family: "Trispace", sans-serif;
}
.row {
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
/*   background-color: blue; */
/*   min-height: 600px;
  max-height: 600px;
  max-width: 900px;
  min-width: 900px; */
  min-height: 700px;
  max-height: 700px;
  max-width: 1100px;
  min-width: 1100px;
  align-self: center;
}
.left {
  background-color: #f7fefb;
  width: 65%;
  position: relative;
  border-radius: 10px 0 0 10px;
}
.right {
  background-image: url("https://images.unsplash.com/photo-1603900507965-da2de7cd709c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35%;
  position: relative;
  border-radius: 0 10px 10px 0;
}

table {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  height: 500px;
  width: 500px;
  border-top: none;
  text-align: center;
  vertical-align: middle;
  border: none;
}
tr {
  text-align: center;
}
td {
  width: calc (500px / 7);
  height: calc (500px / 7);
}
td:hover {
  border-radius: 80%;
  background-color: #f7dfd1;
  transform: scale(1.17);
  opacity: 85%;
  
}
td:empty {
  visibility: hidden;
}
.title {
  font-size: 25px;
  margin-top: 2rem;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}
#prev {
  position: absolute;
  top: calc(1.5rem + 54px);
  left: 7rem;
}
#next {
  position: absolute;
  top: calc(1.5rem + 54px);
  right: 7rem;
}
.fa-long-arrow-alt-left {
  color: black;
}
.fa-long-arrow-alt-left:hover,
.fa-long-arrow-alt-right:hover {
  color: #f7dfd1 !important;
}
.fa-long-arrow-alt-right {
  color: black;
}
.right-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: calc(1.5rem + 54px);
  color: white;
  width: 100px;
  height: 100px;
  font-size: 25px;
  z-index: 20;
}


input[type=text]{
  border: none;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

button{
  border:none;
  border-radius: 10px;
}
#todo_title{
  font-weight: bold;
  font-size: large;
  line-height: 4rem;
  text-align: center;
}
 

ul{
  margin-block-start: 2rem;
  margin-left: 2rem;
}